build --enable_bzlmod=true
build --cxxopt=-std=c++20
build --cxxopt=/std:c++20
build --cxxopt=-D_ENABLE_EXTENDED_ALIGNED_STORAGE
build --compilation_mode=opt
build --announce_rc
build:macos --cxxopt=-mmacosx-version-min=15.0
build:macos --conlyopt=-mmacosx-version-min=15.0
run --enable_bzlmod=true
test --enable_bzlmod=true
